header {
  position: relative;
}
header .imgWrap:nth-of-type(1) {
  background-image: url(../assets/images/community/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  position: relative;
}
header .imgWrap .header_left {
  position: absolute;
  top: 20px;
}

.con {
  margin-top: 40px;
  padding: 0px;
}
.con .wrap .txt {
  text-align: center;
  margin-bottom: 20px;
}
.con .wrap .txt p:nth-of-type(1) {
  color: rgb(42, 107, 228);
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.con .wrap .txt p:nth-of-type(2) {
  font-size: 20px;
  margin-bottom: 40px;
}
.con .wrap .txt p:nth-of-type(3) {
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.5;
}
.con .wrap .map {
  border: 1px solid #c8c8c8;
  height: 200px;
  width: 100%;
  margin-bottom: 0px;
  background-image: url(../assets/images/community/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.con .wrap .add {
  background-color: #3983a0;
  padding: 20px 15px;
  margin-bottom: 20px;
}
.con .wrap .add table {
  font-size: 14px;
}
.con .wrap .add table tr {
  color: #fff;
}
.con .wrap .add table tr td {
  padding: 5px 0px;
}
.con .wrap .add table tr .table_title {
  font-weight: bold;
  width: 80px;
}

.con {
  margin-top: 10px;
}
.con .wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #efefef;
  padding: 0;
}
.con .wrap .con_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
}
.con .wrap .con_content .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con .wrap .con_content .first .first_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.con .wrap .con_content .first .first_left .logo img {
  width: 40px;
  height: 40px;
}
.con .wrap .con_content .first .first_left .first_left_second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.con .wrap .con_content .first .first_left .first_left_second span {
  font-weight: bold;
  font-size: 14px;
}
.con .wrap .con_content .first .first_left .first_left_second span:nth-of-type(2) {
  font-weight: normal;
  font-size: 12px;
}
.con .wrap .con_content .first .first_right img {
  width: 27px;
  cursor: pointer;
}
.con .wrap .con_content .second .txtbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.con .wrap .con_content .second .txtbox p {
  font-weight: normal;
  font-size: 14px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  width: 85%;
}
.con .wrap .con_content .second .txtbox span {
  font-size: 13px;
  color: #929292;
  cursor: pointer;
}
.con .wrap .con_content .third {
  display: flex;
  gap: 10px;
  align-items: center;
}
.con .wrap .con_content .third swiper-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.con .wrap .con_content .third swiper-container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con .wrap .con_content .third swiper-container swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}
.con .wrap .con_content .third2 {
  display: flex;
  flex-direction: column;
}
.con .wrap .con_content .third2 a .third_img img {
  width: 100%;
  height: 230px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.con .wrap .con_content .third2 a .third_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13px;
  background-color: #efefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.con .wrap .con_content .third2 a .third_link .link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.con .wrap .con_content .third2 a .third_link .link span {
  font-size: 14px;
}
.con .wrap .con_content .third2 a .third_link .link span:last-child {
  font-size: 15px;
  font-weight: bold;
}
.con .wrap .con_content .third2 a .third_link .link_icon img {
  width: 8px;
  height: 15px;
}
.con .wrap .con_content .fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con .wrap .con_content .fourth .like_icon {
  display: flex;
  align-items: center;
  gap: 6px;
}
.con .wrap .con_content .fourth .like_icon img {
  width: 12px;
  height: 12px;
}
.con .wrap .con_content .fourth .like_icon span {
  font-size: 12px;
}
.con .wrap .con_content .fourth .fourth_txt {
  display: flex;
  gap: 7px;
  align-items: center;
}
.con .wrap .con_content .fourth .fourth_txt span {
  font-size: 13px;
}
.con .wrap .con_content .fifth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #bbb;
  padding-top: 10px;
}
.con .wrap .con_content .fifth .fifth_sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.con .wrap .con_content .fifth .fifth_sub img {
  width: 15px;
  height: 15px;
}
.con .wrap .con_content .fifth .fifth_sub span {
  font-size: 12px;
}

/*# sourceMappingURL=community.css.map */
