@import "community_sub.scss";

.con {
	margin-top: 10px;

	.wrap {
		display: flex;
		flex-direction: column;
		gap: 15px;
		background-color: #efefef;
		padding: 0;

		.con_content {
			display: flex;
			flex-direction: column;
			gap: 15px;
			background-color: #fff;
			padding: 15px;

			.first {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.first_left {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 10px;

					.logo {
						img {
							width: 40px;
							height: 40px;
						}
					}

					.first_left_second {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						span {
							font-weight: bold;
							font-size: 14px;

							&:nth-of-type(2) {
								font-weight: normal;
								font-size: 12px;
							}
						}
					}
				}

				.first_right {
					img {
						width: 27px;
						cursor: pointer;
					}
				}
			}

			.second {
				.txtbox {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;

					p {
						font-weight: normal;
						font-size: 14px;
						overflow: hidden;
						white-space: normal;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						word-break: keep-all; // 문단으로 끊어져서 줄바꿈 됨
						width: 85%;
					}

					span {
						font-size: 13px;
						color: #929292;
						cursor: pointer;
					}
				}
			}

			.third {
				display: flex;
				gap: 10px;
				align-items: center;

				swiper-container {
					width: 100%;
					height: 100%;
					z-index: 0;

					swiper-slide {
						text-align: center;
						font-size: 18px;
						background: #fff;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: contain;
							border-radius: 15px;
						}
					}
				}
			}

			.third2 {
				display: flex;
				flex-direction: column;

				a {
					.third_img {
						img {
							width: 100%;
							height: 230px;
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
						}
					}

					.third_link {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 13px;
						background-color: #efefef;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;

						.link {
							display: flex;
							flex-direction: column;
							gap: 3px;

							span {
								font-size: 14px;

								&:last-child {
									font-size: 15px;
									font-weight: bold;
								}
							}
						}

						.link_icon {
							img {
								width: 8px;
								height: 15px;
							}
						}
					}
				}
			}

			.fourth {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.like_icon {
					display: flex;
					align-items: center;
					gap: 6px;

					img {
						width: 12px;
						height: 12px;
					}

					span {
						font-size: 12px;
					}
				}

				.fourth_txt {
					display: flex;
					gap: 7px;
					align-items: center;

					span {
						font-size: 13px;
					}
				}
			}

			.fifth {
				display: flex;
				justify-content: space-around;
				align-items: center;
				border-top: 1px solid #bbb;
				padding-top: 10px;

				.fifth_sub {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 5px;
					cursor: pointer;

					img {
						width: 15px;
						height: 15px;
					}

					span {
						font-size: 12px;
					}
				}
			}
		}
	}
}
